
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
}

.container {
    max-width: 100vw;
    box-sizing: border-box;
}

/* -------------------------------------------------------Navbar styles */

nav {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
    /* margin-bottom: 4rem; */
}

.logo-container {
    max-height: 30vh;
    margin-bottom: 3rem;
}

#logo {
    margin-top: 2rem;
}

.navbar-toggler {
    margin-left: 2rem;
}

.navbar-collapse {
    margin-left: 2rem;
    margin-top: 2rem;
}

.navbar-expand-md {
    flex-wrap: wrap;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.nav-foot-hr {
    border-top: 3px solid black;
}


.user-text{
    color: #C68C4F !important;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: lowercase;
    font-weight: 400;
}
/* -------------------------------------------------------Homepage styles */
.hero-text-1{
    /* margin-left: 5%; */
    font-family: 'Playfair Display', serif;
    /* font-weight: bold; */
    font-size: xxx-large;
}

.hero-text-2{
    float: right;
    /* margin-right: 5%; */
    color: #C68C4F;
    font-size: xxx-large;
}

.hero-image-container{
    height: 40vh;
}

.hero-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.perks-block .card{
    border: none;
    text-align: center;
}
.perks-block .card-body{
    border-radius: 10px;
    padding: 1rem;
}


.perks-block .card-title{
    color: #C68C4F;
    margin-bottom: 1rem;
}

.perks-block .card-title i{
    margin-right: 1rem;
}

.browse-recipes-block {
    --bs-gutter-x: 0;
    margin-top: 3rem;
}

.browse-recipes-block hr{
    border-top: 1px solid black;
    margin: 0 auto 2rem;
}

.signup-cta-block{
    background-color: #ECEBEB;
}

.signup-cta-block{
    margin: 2rem 0 0; 
    padding: 2rem 0;
}


.signup-btn{
    font-family: 'Playfair Display', serif;
    margin-top: 1.5rem;
}

/* -------------------------------------------------------Account templates styles */

h1,
.account-action a{
    color: #C68C4F;
    font-family: 'Playfair Display', serif;
}

/* -------------------------------------------------------User cookbook styles */
/* .add-recipe-btn{
    float: right;
} */

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #C68C4F;
    color: white;
}

.select2-results__option,
.select2-selection__rendered{
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
}
/* -------------------------------------------------------User drafts styles */

.draft-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.brown-text{
    color: #C68C4F;
}

/* -------------------------------------------------------Add recipe styles */
.add-recipe h1{
    font-family: 'Playfair Display', serif;
}

.add-recipe span{
    color: #C68C4F;
}

.form-group{
    margin: 2rem;
}

.form-group select{
    -webkit-appearance: auto;
}

.clearablefileinput {
    color: #C68C4F;
}

.form-control-file{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.add-confirmation{
    border: 1px solid black;
    border-radius: 10px;
}


/* -------------------------------------------------------Search bar and cat btnss styles */

.search-bar .inputs {
    width: 60vw;
    margin: 0 auto;
    position: relative;
}

.search-bar .form-control {
    text-indent: 35px;
    height: 35px;
    border-radius: 50px;
    /* border-bottom: 1px solid black;  */
 }

.search-bar .form-control:focus {
    color: #C68C4F;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #C68C4F;
}

.search-bar .inputs i {
    position: absolute;
    top: 8px;
    left: 20px;
    color: #C68C4F;
}

/* .cat-btns button{
    background-color: #ECEBEB;
}  */

/* -------------------------------------------------------Browse recipes styles */

.card-img-top {
    height: 20vh;
    object-fit: cover;
}

.card-body {
    background-color: #ECEBEB;
}

.category {
    font-size: 1rem;
    border: 1px solid black;
    width: 96%;
    margin: 0 auto;
}

.card-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold !important;
}

.card-text-brown {
    color: #C68C4F;
    border-top: 1px solid black;
    font-size: 1rem;
}

/* -------------------------------------------------------Recipe details styles */

.recipe-img-block{
    height: 50vh;
    position: relative;
}

.recipe-spec{
    min-height: 50vh;
}

.recipe-img{
    height: 100%;
}

.recipe-list{
    list-style: none;
    text-align: left;
}

.comment-card{
    border: none;
}

.comment{
    border: 1px solid black;
    background-color: white;
}

.user-comments-container{
    height: fit-content;
}

/* -------------------------------------------------------Rating system styles */
.fa-star{
    color: #cfcfcf;
    width: 20px;
    font-size: 24px;
}

.rating-list li {
    float: right;
    padding: 10px 5px;
  }

  .rating-list li i:hover,
  .rating-list li i:hover ~ i {
    color: orange;
  }

  .rating-list {
    display: inline-block;
    list-style: none;
  }

.checked {
    color: orange;
}

.image-flash {
    text-align: center;
    position: absolute;
    bottom: 2%;
    min-width: 20%;
    right: 20px;
    background-color:white;
}

.flash-browse-page{
    min-width: 40%;
    right: 0;
    bottom: 0;
}

.image-flash .fa-star{
    width: 10px;
    font-size: 14px;
}

/* -------------------------------------------------------Footer styles */

.social-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

footer i {
    color: #C68C4F;
    font-size: 3rem;
    margin-bottom: 2rem;
}

