{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Hero section -->
            <div class="row hero-content d-flex justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-8 mx-2">
                    <div class="row my-4">
                        <div class="col-12 d-flex justify-content-center justify-content-sm-start mb-2">
                            <h1 class="hero-text-1 text-center display-2">Find inspiration</h1>
                        </div>
                        <div class="col-12 d-flex justify-content-center justify-content-sm-end">
                            <h1 class="hero-text-2 text-center display-3">in other recipes!</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 hero-image-container">
                    <img src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1682098512/browse-recipes_sufdy7-_2_-_1_-_1__bshw86.webp"
                        alt="hero-image" class="hero-image">
                </div>
            </div>
        </div>
    </div>

    <!-- Recipes filtering -->
    <div class="row mt-3">
        <!-- Search bar for filtering by title or ingredient -->
        <!-- Implemented following the tutorial at https://stackpython.medium.com/django-search-with-q-objects-tutorial-9c701db74e0e -->
        <div class="col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
            <div class="form-group search-bar">
                <form class="form-inline" action="{% url 'browse_recipes'%}">
                    <div class="inputs w-100">
                        <input type="search" class="form-control" placeholder="Search by title or ingredient..." aria-label="Search" name="search">
                        <button class="btn btn-secondary d-inline" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Filter by category -->
        <!-- Implemented following this tutorial: https://medium.com/@balt1794/chapter-15-django-filters-6947da6df52a -->
        <div class="col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
            <div class="form-group category-filter text-center">
                <form method="get">
                    <span class="brown-text d-block d-sm-inline">...or select a Category:</span>
                    <p class="d-inline">{{ filter.form.category }}</p>
                    <button class="btn btn-secondary d-inline" type="submit"><i class="fas fa-filter"></i></button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Recipe cards Column -->
    <div class="row">
        <div class="col-12">
            <div class="row mx-2">
                {% for recipe in recipe_list %}
                <div class="col-sm-6 col-lg-3 my-3">
                    <!-- Recipe card -->
                    <div class="card h-100">
                        <div class="d-flex flex-column card-body text-center">
                            <div class="image-container mb-3 position-relative">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1682098837/empty-recipe-img_rzjg6v_2_1_1_jlms3c.webp"
                                    alt="Placeholder image for the recipe">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.featured_image.url }}" alt="Recipe image">
                                {% endif %}
                                <!-- To display the average rating for the recipe -->
                                <div class="image-flash flash-browse-page">
                                    <span
                                        class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
                                    <span
                                        class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                                    <span
                                        class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                                    <span
                                        class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
                                    <span
                                        class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
                                </div>
                            </div>
                            <div class="category py-1 text-muted">
                                {{ recipe.get_category_display }}
                            </div>
                            <div class="card-info d-flex justify-content-center align-items-center mb-3">
                                <a href="{% url 'recipe_details' recipe.slug %}"
                                    class="recipe-link text-decoration-none text-dark">
                                    <h2 class="card-title font-weight-bold my-3 ">{{ recipe.title }}</h2>
                                    <p class="card-text text-muted">
                                        {{ recipe.description | capfirst | truncatechars:50 | add:"..." }}
                                    </p>
                                </a>
                            </div>
                            <div class="d-flex justify-content-around align-items-center card-text-brown mt-auto pt-3">
                                <p class="card-text mb-0">
                                    <i class="fas fa-clock"></i>
                                    {{ recipe.prep_time|add:recipe.cook_time }} min
                                </p>
                                |
                                <p class="card-text mb-0">
                                    <i class="fas fa-wallet"></i>
                                    {{ recipe.get_cost_display }}
                                </p>
                                |
                                <p class="card-text">
                                    <i class="fas fa-wrench"></i>
                                    {{ recipe.get_difficulty_display }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Display 4 recipes per row in large screens -->
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row mx-2">
                {% endif %}
                <!-- If the recipe searched ingredient/title returns an empty array: -->
                {% empty %}
                <div class="row mx-2">
                    <div class="col-12 text-center mt-4">
                        <h1>Sorry, no recipes match '{{ searched }}'!</h1>
                        <p>Search for another recipe/ingredient or
                            <a class="btn" href="{% url 'browse_recipes'%}">Browse all <i
                                    class="fas fa-chevron-right"></i></a>
                        </p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center align-items-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; </a></li>
            {% endif %}
            <li> <span class="current text-lowercase p-2">
                    Page <span class="brown-text">{{ page_obj.number }}</span> of {{ page_obj.paginator.num_pages }}
                </span></li>
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<!-- Select2 script for adding a placeholder to the category select box for filtering the recipes -->
<!-- Implemented with the help of the documentation: https://github.com/select2/select2 -->
<script>
    $("#id_category").select2({
        placeholder: "All",
        minimumResultsForSearch: -1
    });
</script>
{%endblock%}