{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container mb-3">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img class="card-img-top"
                                    src="../static/images/empty-recipe-img.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                {% endif %}
                            </div>
                            <p class="category text-center"> 
                                {% if recipe.category == 0 %} 
                                    STARTERS
                                {% elif recipe.category == 1 %} 
                                    MAINS
                                {% elif recipe.category == 2 %}
                                    SIDES
                                {% elif recipe.category == 3 %}
                                    DESSERTS
                                {% elif recipe.category == 4 %} 
                                    SNACKS
                                {% endif %}  
                            </p>
                            <a href="#" class="recipe-link text-decoration-none text-dark">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="card-text">{{ recipe.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ recipe.created_on}} <i class="far fa-heart"></i>
                                {{ recipe.difficulty }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}