{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>Your drafts:</h1>
            <hr>
            <!-- Iterates through the user drafted recipes -->
            {% for recipe in recipe_list %}
            <div class="row mb-2 border p-2">
                <div class="col-md-3">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img class="draft-img"
                        src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1678725047/empty-recipe-img_rzjg6v.jpg"
                        alt="Placeholder image for the recipe">
                    {% else %}
                    <img class="draft-img" src=" {{ recipe.featured_image.url }}" alt="Recipe image">
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <p class="h6 brown-text my-2">Title:</p>{{ recipe.title }}
                </div>
                <div class="col-md-3 my-4 text-muted">
                    <!-- Buttons to edit or delete the draft -->
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'edit_recipe' recipe.slug %}" class="btn btn-secondary mx-2">
                                Edit <i class="fas fa-edit"></i></a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-secondary mx-2">
                                Delete <i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="h6 brown-text my-2">Last update:</p>{{ recipe.created_on }}
                </div>
            </div>
            <!-- If the user has no drafts -->
            {% empty %}
            <div class="row mx-2">
                <div class="col-12 text-center my-4">
                    <p>You have no drafts yet!</p>
                    <a href="{% url 'create_recipe' %}" class="btn btn-secondary add-recipe-btn mx-2">
                        ADD RECIPE <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}