{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row hero-content d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <p class="hero-text-1">Your Cookbook...</p>
                    </div>
                    <div class="col-12">
                        <p class="hero-text-2">at your fingertips!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 hero-image-container">
                <img src="../static/images/hero-image.jpg" alt="hero-image" class="hero-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}