{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row hero-content d-flex justify-content-center">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="hero-text-1">Your Cookbook...</p>
                        </div>
                        <div class="col-12">
                            <p class="hero-text-2">at your fingertips!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 hero-image-container">
                    <img src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1678725046/hero-image_gj1wpf.jpg" alt="hero-image" class="hero-image">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="row perks-block">
                <div class="card col-sm-6 col-lg-3 mt-2">
                    <div class="card-body">
                        <h3 class="card-title"> <i class="fas fa-bookmark"></i>Reliable &amp; Safe</h3>
                        <p class="card-text">Keep all your recipes safe in one place.
                            No more recipes written in pieces of paper that end up being lost!
                        </p>
                    </div>
                </div>
                <div class="card col-sm-6 col-lg-3 mt-2">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fas fa-tag"></i>Stay Organised</h3>
                        <p class="card-text">Have your recipes organised into categories
                            and labelled appropriately!
                        </p>
                    </div>
                </div>
                <div class="card col-sm-6 col-lg-3 mt-2">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fas fa-search"></i>Quick access</h3>
                        <p class="card-text">Search and find your recipes quickly and easily!</p>
                    </div>
                </div>
                <div class="card col-sm-6 col-lg-3 mt-2">
                    <div class="card-body">
                        <h3 class="card-title"><i class="fas fa-share"></i>Browse &amp; Share</h3>
                        <p class="card-text">Share your yummy recipes with the world and
                            get inspired by other foodies like you!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row browse-recipes-block">
            <div class="col-12 text-center">
                <h2>Recently shared by other users:</h2>
                <hr class="w-50"/>
                <div class="row mx-2">
                    {% for recipe in newly_added_recipes %}
                    <div class="col-md-3 my-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="image-container mb-3">
                                    {% if "placeholder" in recipe.featured_image.url %}
                                    <img class="card-img-top" src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1678725047/empty-recipe-img_rzjg6v.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'recipe_details' recipe.slug %}"
                                    class="recipe-link text-decoration-none text-dark">
                                    <div class="card-title">
                                        {{ recipe.title }}
                                    </div>
                                </a>
                                <div class="card-body">
                                    <p>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row signup-cta-block text-center">
            <div class="col-12 w-100">
                <h2 class="lh-base mt-3">Create an account now to use myKTCN and start saving your recipes!</h2>
                <button type="button" class="btn btn-outline-dark signup-btn fs-2 fw-bold text-uppercase">Sign up</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}