{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 recipe-img-block mb-3">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top recipe-img" src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1678725047/empty-recipe-img_rzjg6v.jpg">
            {% else %}
            <img class="card-img-top recipe-img" src=" {{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col-md-6 recipe-spec mb-3">
            <div class="row">
                <div class="col-12 category py-1 text-center">
                    {{ recipe.get_category_display }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-4">
                        <div class="col-6">
                            {{ recipe.author }}
                        </div>
                        <div class="col-6">
                            Posted on: {{ recipe.created_on | date:" d M Y" }}
                        </div>
                    </div>
                    <div class="row mt-4 d-flex align-items-baseline">
                        <div class="col-sm-6">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="col-sm-6 mt-4">
                            {{ recipe.get_difficulty_display }}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center ">
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-clock"></i>
                            PREP TIME: {{ recipe.prep_time }} min
                        </div>
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-fire-alt"></i>
                            COOK TIME: {{ recipe.cook_time }} min
                        </div>
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-user"></i>
                            SERVES: {{ recipe.serving }} ppl
                        </div>
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-coins"></i>
                            COST: {{ recipe.get_cost_display }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-3 text-center">
            {{ recipe.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 text-center mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-4">Ingredients:</h3>
                            <ul class="card-text recipe-list">
                                <li> {{ recipe.ingredients | safe }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-center mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-4">Method:</h3>
                            <ol class="card-text recipe-list">
                                <li>{{ recipe.method | safe }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 card">
            <div class="card-body">
                <h3 class="card-title text-center">What other users say about this recipe:</h3>
                {% for comment in comments %}
                <div class="comment p-3 mt-3">
                    <div class="row text-muted">
                        <div class="col-6">{{ comment.name }}</div>
                        <div class="col-6 d-flex justify-content-end">{{ comment.created_on | date:" d M Y" }}</div>
                    </div>
                    <p class="card-text mt-3">{{ comment.body }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}