{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-md-6 recipe-img-block mb-3">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top recipe-img"
                src="https://res.cloudinary.com/dlvymsj4u/image/upload/v1678725047/empty-recipe-img_rzjg6v.jpg">
            {% else %}
            <img class="card-img-top recipe-img" src=" {{ recipe.featured_image.url }}">
            {% endif %}
            <div class="image-flash">
                <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
            </div>
        </div>
        <div class="col-md-6 recipe-spec mb-3">
            <div class="row">
                <div class="col-12 py-1 text-center">
                    <h1>{{ recipe.title }}</h1>
                </div>
            </div>
            {% if user.is_authenticated %}
            {% if recipe.author == user %}
            <div class="row mb-4 text-center">
                <div class="col-6">
                    <a href="{% url 'edit_recipe' recipe.slug %}" class="btn btn-outline-dark mx-2">Edit</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-outline-dark mx-2">Delete</a>
                </div>
            </div>
            {% else %}
            <div class="row mb-4 text-center">
                <div class="col-12">
                    <ul class="btn btn-light list-inline rating-list">
                        <li onclick="rate(5, {{ recipe.id }})">
                            <i class="fa fa-star {% if recipe.user_rating > 4 %} checked {% endif %}"
                                title="Rate 5"></i>
                        </li>
                        <li onclick="rate(4, {{ recipe.id }})">
                            <i class="fa fa-star {% if recipe.user_rating > 3 %} checked {% endif %}"
                                title="Rate 4"></i>
                        </li>
                        <li onclick="rate(3, {{ recipe.id }})">
                            <i class="fa fa-star {% if recipe.user_rating > 2 %} checked {% endif %}"
                                title="Rate 3"></i>
                        </li>
                        <li onclick="rate(2, {{ recipe.id }})">
                            <i class="fa fa-star {% if recipe.user_rating > 1 %} checked {% endif %}"
                                title="Rate 2"></i>
                        </li>
                        <li onclick="rate(1, {{ recipe.id }})">
                            <i class="fa fa-star {% if recipe.user_rating > 0 %} checked {% endif %}"
                                title="Rate 1"></i>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="row">
                <div class="col-12 category py-1 text-center">
                    {{ recipe.get_category_display }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-4">
                        <div class="col-6">
                            {{ recipe.author }}
                        </div>
                        <div class="col-6">
                            Posted on: {{ recipe.created_on | date:" d M Y" }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6 mt-4">
                            {{ recipe.get_difficulty_display }}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center ">
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-clock"></i>
                            {{ recipe.prep_time }} min
                        </div>
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-fire-alt"></i>
                            {{ recipe.cook_time }} min
                        </div>
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-user"></i>
                            {{ recipe.serving }} ppl
                        </div>
                        <div class="col-sm-6 col-lg-3 my-2">
                            <i class="fas fa-wallet"></i>
                            {{ recipe.get_cost_display }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-3 text-center">
            {{ recipe.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 text-center mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-4">Ingredients:</h3>
                            <ul class="card-text recipe-list">
                                <li> {{ recipe.ingredients | safe }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-center mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-4">Method:</h3>
                            <ol class="card-text recipe-list">
                                <li>{{ recipe.method | safe }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 card comment-card">
            <div class="card-body">
                <h3 class="card-title text-center">Thoughts about this recipe:</h3>
                <div class="comment p-3 mt-3">
                    <div class="row d-flex justify-content-around">
                        {% if comments.count == 0 %}
                        <div class="col-md-6 border user-comments-container p-3 mb-2">
                            No comments have been posted yet for this recipe!
                        </div>
                        {% else %}
                        {% for comment in comments %}
                        <div class="col-md-6 border user-comments-container p-3 mb-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="brown-text">{{ comment.name }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="h6">{{ comment.created_on | date:" d M Y" }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text mt-3">{{ comment.body }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="col-md-5 border p-4 text-center">
                            {% if commented %}
                            <div class="alert alert-success" role="alert">
                                Your comment has been submitted! It will appear once it's been approved by our admins.
                            </div>
                            {% else %}
                            {% if user.is_authenticated %}
                            <h3>Leave a comment:</h3>
                            <p>Posting as: <span class="brown-text">{{ user.username }}</span></p>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg btn-outline-dark">Submit</button>
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const rate = (rating, recipe_id) => {
        fetch(`/rate/${recipe_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(rest => {
            window.location.reload();
            // you may want to update the rating here
            // to simplify stuff, I just reload the page
        })
    }
</script>
{% endblock %}