{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}
{% load cloudinary %}
<div class="container add-recipe">
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-12">
            <h1 class="text-center">Edit your recipe:</h1>
            <hr>
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-md-8 col-lg-6 text-center">
                    <form method="POST" enctype='multipart/form-data' class="recipe-form">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-signup btn-lg btn-secondary my-2">
                            Edit recipe <i class="fas fa-edit"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}